@model IEnumerable<Main.Models.Category>

@{
    ViewBag.Title = "showCategory";
    Layout = "~/Areas/Admin/Views/Shared/admin_page.cshtml";
}
<style>
    td a {
        color: blue;
    }

    p a {
        color: blue;
    }
</style>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <h2>LOẠI</h2>
        <p>
            @Html.ActionLink("Tạo mới", "createCategory", "Category")
        </p>
    </div>
    <div>
        @using (Html.BeginForm("searchForName", "Category"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style=" display: flex; justify-content: flex-end;">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div>
                        <input type="text" name="search" id="search" class="form-control" placeholder= "Máy tính" style="height:25px"/>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Tìm" class="btn btn-default" style="width: 70px; height: 29px"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<table class="table">
    <tr style="height:50px">
        <th width="10%">
            Id
        </th>
        <th>
            Tên loại
        </th>
        <th width="30%">
            Ảnh bìa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center;height:10px">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td width="42%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Content/Images/Category/@Html.DisplayFor(modelItem => item.Img)" width="100px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "editshow", new { id = item.Id }) |
                @Html.ActionLink("Details", "detailCategory", new { id = item.Id }) |
                @Html.ActionLink("Delete", "deleteShow", new { id = item.Id })
            </td>
        </tr>
    }

</table>
